:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --photo-background-color: #f5f4fa;
    --logo-text-color: #000000;
    --hero-btn-background: #188ce8;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --hero-bcg-color: #c4c4c4;
}